* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input ::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button ::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*Настройки для обнуления ститей браузера по умолчанию*/

body {
    line-height: 1;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


[class*="__container"] {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1894.98px) {
    [class*="__container"] {
        max-width: 1665px;
    }
}

@media (max-width: 1659.98px) {
    [class*="__container"] {
        max-width: 1435px;
    }
}

@media (max-width: 1399.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

.header {
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 113px;
    position: absolute;
    width: 1919px;
    align-items: center;
    padding: 10px 0;
    background: #0A0A0A;
    color: #717171;
}

nav.header__menu {
}

.menu__list {
    display: flex;
    gap: 30px;
    margin-left: 310px;
}

.menu__item {
}

.menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #717171;
}

li.menu__item {
}

a.menu__link {
}

li.menu__item {
}

a.menu__link {
}

.header__logo {
    position: absolute;
    left: 48.75%;
    right: 48.23%;
    top: 17.65%;
    bottom: 95.44%;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.header__phone {
    margin-right: 360px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
}

.header__picture {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1918px;
    height: 980px;
    top: 113px;
    background: #F5F5F7;
}

.header__img {
    position: absolute;
    width: 937px;
    height: 657px;
    left: 380px;
    top: 200px;
}

.header__H1 {
    position: absolute;
    width: 481.5px;
    height: 77px;
    left: 600px;
    top: 71px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #490E84;

}

button.header__button {
    position: absolute;
    width: 349.64px;
    height: 70px;
    left: 665px;
    top: 883px;
    background: #490E84;
    border-radius: 30px;

}

.header__button_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}

.page {

}

.page__whats_new {

}

.page__h1 {
    position: absolute;
    width: 215px;
    height: 39px;
    left: 740px;
    top: 1180px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #717171;
}

.page__p1 {
    position: absolute;
    width: 559.07px;
    height: 90px;
    left: 359.93px;
    top: 1269px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__p2 {
    position: absolute;
    width: 559.07px;
    height: 54px;
    left: 359.93px;
    top: 1389px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__p3 {
    position: absolute;
    width: 559.07px;
    height: 54px;
    left: 359.93px;
    top: 1473px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__p_bold {
    position: absolute;
    width: 560px;
    height: 156px;
    left: 359px;
    top: 1557px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__img {
    position: absolute;
    width: 350px;
    height: 370px;
    left: 1110px;
    top: 1306px;
}

.page__color_phone {

}

.page__h1_color {
    position: absolute;
    width: 331px;
    height: 39px;
    left: 660px;
    top: 1863px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #717171;
}

.page__img_color1 {
    position: absolute;
    width: 240px;
    height: 320px;
    left: 359px;
    top: 1952px;
    border-radius: 30px;
}

.page__img_color2 {

    position: absolute;
    width: 240px;
    height: 320px;
    left: 679px;
    top: 1952px;
    border-radius: 30px;
}

.page__img_color3 {
    position: absolute;
    width: 240px;
    height: 320px;
    left: 999px;
    top: 1952px;
    border-radius: 30px;
}

.page__img_color4 {
    position: absolute;
    width: 240px;
    height: 320px;
    left: 1319px;
    top: 1952px;
    border-radius: 30px;
}

.page__h2_1 {
    position: absolute;
    width: 56px;
    height: 26px;
    left: 451px;
    top: 2292px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__h2_2 {
    position: absolute;
    width: 120px;
    height: 26px;
    left: 739px;
    top: 2292px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__h2_3 {
    position: absolute;
    width: 46px;
    height: 26px;
    left: 1096px;
    top: 2292px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__h2_4 {
    position: absolute;
    width: 120px;
    height: 26px;
    left: 1379px;
    top: 2292px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__p5 {
    position: absolute;
    width: 95px;
    height: 18px;
    left: 432px;
    top: 2328px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__p6 {
    position: absolute;
    width: 132px;
    height: 18px;
    left: 733px;
    top: 2328px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__p7 {
    position: absolute;
    width: 58px;
    height: 18px;
    left: 1090px;
    top: 2328px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__p8 {
    position: absolute;
    width: 148px;
    height: 18px;
    left: 1365px;
    top: 2328px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0A0A0A;
}

.page__form {
    position: absolute;
    left: 370px;
    top: 2496px;
}

.page__form1 {
    display: flex;
    background: #574B63;
    color: #ffffff;
}

.page__form_input {
    width: 100%;
    padding: 140px 100px;
    text-align: center;
}

.page__h1_form {
    margin: 0 0 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}

.page__img_form {

}

.page__form_name,
.page__form_tel {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574B63;
}

.page__form_name::placeholder,
.page__form_tel::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: white;
    opacity: 0.5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.page__form_input p {
    opacity: 0.5;
    text-align: center;
    margin: 30px 0;
}

.page__form_input button {
    border: none;
    text-transform: uppercase;
    color: #490E84;
    background-color: white;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 700;
    cursor: pointer;
}

.footer {
    position: absolute;
    top: 3096px;
    background-color: #0A0A0A;
    justify-content: space-between;
    max-height: 150px;
    width: 1663px;
    align-items: center;

}

.footer__container {
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 290px;
    margin-right: 50px;
    padding: 50px 0;


}

.footer__link {
    color: #717171;

}

.footer__logo {

}

.footer__img {

}

.footer__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
    width: 221px;
    height: 29px;

}

